body {
    background-color: white;
}

#board {
    padding: 3em;
    text-align: center;
}

h4 {
    font-style: italic;
}

.row > div {
    float: left;
    height: 100px;
    width: 100px;
}

.row > div:hover {
    cursor: pointer;
    background-color: lightgray;
}

.row {
    clear: both;
    margin: auto;
    text-align: center;
    line-height: 100px;
    font-size: x-large;
    width: 302px;
}

.top {
    border-bottom: 1px solid black;
}

.bottom {
    border-top: 1px solid black;
}

.left {
    border-right: 1px solid black;
}

.right  {
    border-left: 1px solid black;
}